<html>

<head>
    <link rel="stylesheet" href="static/css/circle.css">

    <link rel="stylesheet" href="static/css/checkbox.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/demo.css">
    <!-- Pushy CSS -->
    <link rel="stylesheet" href="static/css/pushy.css">
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="static/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/style-responsive.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
    <link rel='stylesheet prefetch' href='https://raubarrera.neocities.org/cdpn/style.css'>

    <link rel="stylesheet" href="static/static/css/style.css">

    <title>
        Teacher Dashboard
    </title>
</head>

<body style="background-image: url(static/img/bgbg.jpg); background-repeat: no-repeat; background-size: cover">
    <nav class="pushy pushy-left" data-focus="#first-link">
        <div class="pushy-content">
            <ul>

                <li class="pushy-link">
                    <form method="POST" action="" name="profile">
                        <button style="backface-visibility: hidden; background-color: transparent; border-color: transparent" name="profile">Profile</button>
                    </form>
                </li>
                <li class="pushy-link">
                    <form method="POST" action="" name="profile">
                        <button style="backface-visibility: hidden; background-color: transparent; border-color: transparent" name="summary">Attendance Summary</button>
                    </form>
                </li>
                <li class="pushy-link">
                    <form method="POST" action="" name="profile">
                        <button style="backface-visibility: hidden; background-color: transparent; border-color: transparent" name="add">Add Attendance</button>
                    </form>
                </li>
                <li class="pushy-link">
                    <form method="POST" action="" name="profile">
                        <button style="backface-visibility: hidden; background-color: transparent; border-color: transparent" name="exit1">Exit and go to user type</button>
                    </form>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Site Overlay -->
    <div class="site-overlay"></div>

    <!-- Your Content -->
    <div id="container">
        <!-- Menu Button -->
        <button class="menu-btn">&#9776; Menu</button>

        <br>
        <br>
        <center>

            {%for t in tab%}

            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">

                        <h4 style="color: black"><i class="fa fa-angle-right"></i> Attendance Table- Section {{sec[0]}}</h4>
                        <hr>
                        <table style=" width:1200">
                            <tr>
                                <th style="color: black"><i class="fa fa-bullhorn"></i> USN</th>

                                <th class="hidden-phone" style="color: black"><i class="fa fa-question-circle"></i> Student Name</th>

                                <th style="color: black"><i class=" fa fa-edit"></i> Status</th>

                            </tr>

                            {%for l in t%}

                            <tr>
                                <td>

                                    <p style="color: black">{{l[0]}}</p>
                                </td>
                                <td class="hidden-phone" style="color: black">{{l[1]}}</td>

                                <td style="color: black">
                                    {{l[2]}}
                                </td>
                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                    <!-- /content-panel -->
                </div>
                <!-- /col-md-12 -->
            </div>
            <br> {%endfor%}

            <!-- js placed at the end of the document so the pages load faster -->
            <script src="static/lib/jquery/jquery.min.js"></script>
            <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
            <script class="include" type="text/javascript" src="static/lib/jquery.dcjqaccordion.2.7.js"></script>
            <script src="static/lib/jquery.scrollTo.min.js"></script>
            <script src="static/lib/jquery.nicescroll.js" type="text/javascript"></script>
            <!--common script for all pages-->
            <script src="static/lib/common-scripts.js"></script>
            <!--script for this page-->
            <script src="static/js/pushy.min.js"></script>

        </center>
    </div>
</body>

</html>