<HTML>

<head>
    <title>Type of user</title>
</head>

<BODY style="background-image: url(static/img/bgbg.jpg); background-repeat: no-repeat; background-size: cover">
    <center>
        <p style="font-family: arial; font-size: 45">Select the type of user:</p>
    </center>
    <br>
    <br>
    <br>
    <center>
        <br>
        <table style="border-style: hidden" cellspacing="40">
            <tr>
                <td>
                    <form method="POST" name="s">
                        <button style="background-image: url(static/img/student-button.jpg) ; background-repeat: no-repeat; height: 200; width: 200; background-size: 100%" name="s"></button>
                    </form>
                </td>
                <td>
                    <form method="post" name="t">
                        <button style="background-image: url(static/img/teacher-button.jpg) ; background-repeat: no-repeat; height: 200; width: 200; background-size: 100%" name="t"></button>
                    </form>
                </td>
                <td>
                    <form method="post" name="h">
                        <button style="background-image: url(static/img/admin-button.jpg) ; background-repeat: no-repeat; height: 200; width: 200; background-size: 100%" name="h"></button>
                    </form>
                </td>
            </tr>
        </table>
    </center>

</BODY>

</HTML>